<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>twitter_analysis</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/js/jquery.tablesorter.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/css/theme.default.min.css">
<style>
#table {
    table-layout: fixed;
    width: auto;
}
#fav-table th {
    background-color:pink;
    max-width:200px;
}
#fav-table td {
    max-width:500px;
    overflow-wrap: break-word;
}
#fav-table th#url{
    max-width:20px !important
}
#fav-table th#date{
    max-width:125px !important
}
.r-1h8ys4a {
    padding-top: 4px;
    display: none !important;
}
</style>
<script>
// $(document).ready(function() {$('#fav-table').tablesorter();});
$(document).ready(function() {
    var exp = /(\b(https?|ftp|file):\/\/twitter.com[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig;
    $('body').html($('body').html().replace(exp,"<a href='$1' target='_blank'><img  height='20' src='https://kazeniwa.net/penguin/share/images/sns_tw.svg'></a>"));
    var exp = /(\b(https?|ftp|file):\/\/t.co[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig;
    $('body').html($('body').html().replace(exp,"<a href='$1' target='_blank'>$1</a>"));
    $('#fav-table').tablesorter();
});
</script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</head>
<body>
    {{now}}<br>{{end}}
<div class="card-body">
    <table id="fav-table" class="table table-bordered">
        <thead><tr><th>ID</th><th id="date">日時</th><th>ツイート</th><th>ツイート主</th><th id="url">URL</th><th>いいね</th><th>RT</th><th>引用RT</th>
            <th>表示回数</th><th>反応率</th><th>ﾘﾌﾟﾗｲ数</th><th>画像</th></tr></thead>
            {% for tweets in sorce %}
            <tr>
                {% for tweet in tweets %}
                    <td>
                    {% if tweet =='medias' %} 
                        {% for media in tweets[tweet] %}
                            {% if media[0] =='video' %}
                                <a href="{{media[1]}}" target="_blank">
                                    <video src="{{media[1]}}" poster="{{media[2]}}" height="100">
                                </a>
                            {% elif media[0] =='img' %}
                                <a href="{{media[1]}}" target="_blank">
                                    <img src="{{media[2]}}" height="100">
                                </a>
                            {% elif media[0] =='quot' %} 
                                <!-- <blockquote class="twitter-tweet"  data-cards="hidden" data-conversation="none">
                                    <a href="{{media[1]}}"></a>
                                </blockquote> -->
                                
                            {% endif %}
                        {% endfor %}
                    {% else %} 
                        {{tweets[tweet] | safe}}
                    {% endif %}
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
    </table>
    </div>
</body>
</html>